.LoginBox {
  max-width: 330px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  align-items: center;
}

#username{
  padding: 10px;
  display: flex;
}

#password{
  padding: 10px;
  display: flex;
}

#loginButton{
  margin: 50px auto;
  padding: 10px 30px 10px 30px;
  display: flex;

}

body{
  background: #4e5865;
}

.NavBar{
  color: black;
}
