.LoginBox {
  max-width: 330px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  align-items: center;
}

.Sign-UpBox {
  max-width: 330px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10px;
  align-items: center
}

#username , #email , #firstName , #lastName{
  padding: 10px;
  display: flex;
}

#password{
  padding: 10px;
  display: flex;
}

#loginButton , #registerButton{
  margin: 50px auto;
  padding: 10px 30px 10px 30px;
  display: flex;

}

body{
  background-image:url('Food_Pattern_5_01.jpg') ;
  background-size:cover;
}

.NavBar{
  color: black;
}

.HomeContainer{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  align-items: center;
}

.MenuContainer{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  align-items: center;
}

h1{
  font-family: monospace;
  font-weight: 700;
  letter-spacing: .2rem;
  color: inherit;
  padding: 10px;
  display: flex;
}

#Welcome2{
  font-family: monospace;
  font-weight: 700;
  letter-spacing: .2rem;
  color: inherit;
  padding: 10px;
  display: flex;
}

#MenuButton{
  margin: 50px auto;
  padding: 20px 40px 20px 40px;
  display: flex;
}
